#token2B{

	border-radius: 15px;
	height: 20px;
	width: 20px;
	background-color: #1c40ce;
	margin-left: 50px;
    z-index: 5;
}

#token2B.cellUH1{

	position: relative;
	left: -586px;
	top: -492px;

}
#token2B.cellUH2{

	position: relative;
	left: -586px;
	top: -492px;

}
#token2B.cellUH3{

	position: relative;
	left: -520px;
	top: -492px;

}
#token2B.cellUH4{

	position: relative;
	left: -454px;
	top: -492px;

}
#token2B.cellUH5{

	position: relative;
	left: -388px;
	top: -492px;

}
#token2B.cellUH6{

	position: relative;
	left: -322px;
	top: -492px;

}
#token2B.cellUH7{

	position: relative;
	left: -256px;
	top: -492px;

}
#token2B.cellUH8{

	position: relative;
	left: -190px;
	top: -492px;

}
#token2B.cellRV1{

	position: relative;
	left: -190px;
	top: -492px;

}
#token2B.cellRV2{

	position: relative;
	left: -190px;
	top: -426px;

}
#token2B.cellRV3{

	position: relative;
	left: -190px;
	top: -360px;

}
#token2B.cellRV4{

	position: relative;
	left: -190px;
	top: -294px;

}
#token2B.cellRV5{

	position: relative;
	left: -190px;
	top: -228px;

}
#token2B.cellRV6{

	position: relative;
	left: -190px;
	top: -162px;

}
#token2B.cellRV7{

	position: relative;
	left: -190px;
	top: -96px;

}
#token2B.cellLH1{

	position: relative;
	left: -190px;

}
#token2B.cellLH2{

	position: relative;
	left: -256px;

}
#token2B.cellLH3{

	position: relative;
	left: -322px;

}
#token2B.cellLH4{

	position: relative;
	left: -388px;

}
#token2B.cellLH5{

	position: relative;
	left: -454px;

}
#token2B.cellLH6{

	position: relative;
	left: -520px;

}
#token2B.cellLH7{

	position: relative;
	left: -386px;

}

#token2B.cellLV1{

	position: relative;
	left: -682px;
	top: -66px;

}
#token2B.cellLV2{

	position: relative;
	left: -682px;
	top: -132px;

}
#token2B.cellLV3{

	position: relative;
	left: -682px;
	top: -198px;

}
#token2B.cellLV4{

	position: relative;
	left: -682px;
	top: -264px;

}
#token2B.cellLV5{

	position: relative;
	left: -682px;
	top: -330px;

}
#token2B.cellLV6{

	position: relative;
	left: -682px;
	top: -396px;

}