#token1B{

	border-radius: 15px;
	height: 20px;
	width: 20px;
	background-color: #1c40ce;
	margin-left: 50px;
    z-index: 5;
}

#token1B.cellUH1{

	position: relative;
	left: -652px;
	top: -462px;

}
#token1B.cellUH2{

	position: relative;
	left: -586px;
	top: -462px;

}
#token1B.cellUH3{

	position: relative;
	left: -520px;
	top: -462px;

}
#token1B.cellUH4{

	position: relative;
	left: -454px;
	top: -462px;

}
#token1B.cellUH5{

	position: relative;
	left: -388px;
	top: -462px;

}
#token1B.cellUH6{

	position: relative;
	left: -322px;
	top: -462px;

}
#token1B.cellUH7{

	position: relative;
	left: -256px;
	top: -462px;

}
#token1B.cellUH8{

	position: relative;
	left: -190px;
	top: -462px;

}
#token1B.cellRV1{

	position: relative;
	left: -190px;
	top: -462px;

}
#token1B.cellRV2{

	position: relative;
	left: -190px;
	top: -396px;

}
#token1B.cellRV3{

	position: relative;
	left: -190px;
	top: -330px;

}
#token1B.cellRV4{

	position: relative;
	left: -190px;
	top: -264px;

}
#token1B.cellRV5{

	position: relative;
	left: -190px;
	top: -198px;

}
#token1B.cellRV6{

	position: relative;
	left: -190px;
	top: -132px;

}
#token1B.cellRV7{

	position: relative;
	left: -190px;
	top: -66px;

}
#token1B.cellLH1{

	position: relative;
	left: -190px;

}
#token1B.cellLH2{

	position: relative;
	left: -256px;

}
#token1B.cellLH3{

	position: relative;
	left: -322px;

}
#token1B.cellLH4{

	position: relative;
	left: -388px;

}
#token1B.cellLH5{

	position: relative;
	left: -454px;

}
#token1B.cellLH6{

	position: relative;
	left: -520px;

}
#token1B.cellLH7{

	position: relative;
	left: -586px;

}

#token1B.cellLV1{

	position: relative;
	left: -652px;
	top: -66px;

}
#token1B.cellLV2{

	position: relative;
	left: -652px;
	top: -132px;

}
#token1B.cellLV3{

	position: relative;
	left: -652px;
	top: -198px;

}
#token1B.cellLV4{

	position: relative;
	left: -652px;
	top: -264px;

}
#token1B.cellLV5{

	position: relative;
	left: -652px;
	top: -330px;

}
#token1B.cellLV6{

	position: relative;
	left: -652px;
	top: -396px;

}

